<div class="container-fluid">
  <h1 class="mt-2 ml-5 text-primary"><b>Honest Food Service</b></h1>
  <div class="form-group m-5">
    <label for="loc" class="text-info"><b>Find your Nearest Oulet</b>
    </label>
    <div class="form-inline">
      <div class="ng-autocomplete">
        <ng-autocomplete [data]="countries" [searchKeyword]="keyword" placeHolder="Enter the location and select one"
          (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
          historyIdentifier="countries" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
      </div>
      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.name"></a>
      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
      <div *ngIf="spinnerFlag" class="ml-3 spinner-border text-primary"></div>

    </div>
    <div *ngIf="foundFlag" class="card mt-3 p-3">
      Folowing is your nearest outlet, please go and pick up the parcle:
      <br>
      <h3>{{ nearestLocation }}</h3>
    </div>
  </div>
</div>